In [1]:
import os
import sys
import pandas
import numpy
import json

In [5]:
dm = pandas.read_csv('shots.csv')
dm.head()

,season,gamenumber,gamedate,vteamcode,hteamcode,eventnumber,period,eventtimefromzero,advantagetypeshooter,advantagetypegoalie,...,position,namegoalie,tgoals,ogoals,zone,X,Y,XNorm,YNorm,shotType
0,2011,20001,10/6/2011,PHI,BOS,4,1,47,EV,EV,...,G,BRYZGALOV_ILYA,0,0,O,32,-14,32,-14,Snap
1,2011,20001,10/6/2011,PHI,BOS,9,1,114,EV,EV,...,G,BRYZGALOV_ILYA,0,0,O,37,-18,37,-18,Snap
2,2011,20001,10/6/2011,PHI,BOS,14,1,138,EV,EV,...,G,THOMAS_TIM,0,0,O,-50,7,50,-7,Snap
3,2011,20001,10/6/2011,PHI,BOS,25,1,249,EV,EV,...,G,THOMAS_TIM,0,0,O,-48,-5,48,5,Slap
4,2011,20001,10/6/2011,PHI,BOS,29,1,297,EV,EV,...,G,BRYZGALOV_ILYA,0,0,O,39,-1,39,-1,Wrist